@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

/* Public Sans(shrift) hamma text la  */
/* DM Serif Display(shrift) telefon yonidegi item la */

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;

}

.container {
    max-width: 100%;
    width: 85%;
    margin: 0 auto;
}

header {
    padding: 30px 0px;
}

.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-ul {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-li-a {
    font-size: 15px;
    color: rgba(54, 83, 107, 1);
    opacity: 0.7;
    font-family: 'Public Sans';
}

.header-li-bt {
    width: 173px;
    height: 48px;
    color: rgba(251, 252, 254, 1);
    font-size: 15px;
    background-color: rgba(186, 66, 112, 1);
    border-radius: 24px;
    border: none;

}

.main-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.main-left {
    font-family: 'DM Serif Display';
    font-weight: 400;
    font-size: 72px;
    width: 546px;
    height: 243px;
    color: rgba(54, 83, 107, 1);


}
.main-right {
    width: 35%;
    height: auto;
}

.none {
    display: none;
}

.main-2-right-item {
    font-family: "DM Serif Display";
    font-weight: 400;
    font-size: 48px;
    color: #36536B;
}

.main-2-right-text {
    font-family: "Public Sans";
    font-weight: 400;
    font-size: 15px;
    color: #6C8294;
    width: 445px;
    padding-bottom: 60px;
}

.main-wrapper-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-circle {
    width: 106px;
    height: 106px;
    border-radius: 100%;
    background-color: #36536B;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.card-text {
    font-family: "Public sans";
    font-weight: 700;
    font-size: 18px;
    color: #36536B;
    text-align: center;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    gap: 30px;
}

.main-wrapper-3 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
}

.footer {
    background-color: #1B262F;
    height: 100px;
    width: 100%;
    margin-top: 150px;
}

.footer-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.footer-link {
    font-family: "Public Sans";
    font-weight: 700;
    font-size: 15px;
    color: #FBFCFE;
    opacity: 70%;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.footer-left {
    display: flex;
    align-items: center;
    gap: 50px;
}

.footer-right {
    display: flex;
    align-items: center;
    gap: 30px;
}

@media screen and (max-width:1209px) {

    .main-2-left-img {
        width: 500px;
    }

    .main-2-right-item {
        font-size: 44px;
    }   

    .main-left {
        font-family: 'DM Serif Display';
        font-size: 65px;
        width: 546px;
        height: 243px;
        color: rgba(54, 83, 107, 1);
    }   
    .main-right {
       width: 40%;
       height: auto;
    }

}

@media screen and (max-width:1016px) {

    .main-2-left-img {
        width: 460px;
    }

    .main-wrapper-2 {
        gap: 10px;
        justify-content: none;
    }

    .main-2-right-text {
        font-size: 13.5px;
        width: 380px;
    }

    .main-2-right-item {
        width: 365px;
    }

}

@media screen and (max-width:902px) {

    .main-2-left-img {
        width: 410px;
    }

    .main-2-right-text {
        width: 350px;
        width: 330px;
    }

    .main-2-right-item {
        font-size: 40px;
        width: 330px;
    }

    .main-wrapper {
        display: flex;
        flex-direction: column-reverse;
        gap: 20px;
    }
    .main-right {
        width: 60%;
        height: auto;
     }
     .main-left {
        font-family: 'DM Serif Display';
        font-size: 55px;
        text-align: center;
        color: rgba(54, 83, 107, 1);
    }  
}

@media screen and (max-width:835px) {
    .main-wrapper-2 {
        flex-direction: column;
    }

    .main-2-left-img {
        width: 500px;
    }

    .main-2-right-item {
        font-size: 48px;
        text-align: center;
        width: 400px;
        margin: 0 auto;
    }

    .main-2-right-text {
        width: 573px;
        text-align: center;
    }

    .main-2-right {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .main-wrapper-2 {
        padding-bottom: 100px;
    }


    .header-li-bt {
        display: none;
    
    }

}

@media screen and (max-width:628px) {

    .card-circle {
        width: 90px;
        height: 90px;
    }

    .card-circle img {
        width: 35px;
    }

    .main-wrapper-3 {
        display: flex;
        justify-content: space-between;
    }

    .card-text {
        font-size: 16px;
    }

    .footer-right {
        display: none;
    }

    .footer-left {
        justify-content: space-between;
        width: 100%;
    }
    .main-left {
        font-size: 48px;
        text-align: center;
        width: 500px;
    }  

}

@media screen and (max-width:574px) {

    .main-2-right-text {
        width: 400px;
    }

    .main-2-left-img {
        width: 400px;
    }

    .main-wrapper-3 {
        align-items: center;
    }
    .main-left {
        font-size: 48px;
        text-align: center;
        width: 400px;

    }  

}

@media screen and (max-width:489px) {

    .main-wrapper-3 {
        flex-direction: column;
        gap: 130px;
    }

    .card-circle {
        width: 106px;
        height: 106px;
    }

    .card-text {
        font-size: 18px;
    }

    .main-2-right-text {
        font-size: 15px;
        width: 100%;
    }

    .main-2-left-img {
        width: 100%;
    }

    .footer {
        height: 353px;

    }

    .footer-left {
        flex-direction: column;
    }

    .footer-logo {
        width: 135px;
    }

    .footer-link {
        font-size: 15px;
    }

    .footer-list {
        flex-direction: column;
    }

    .footer-right {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 30px;
    }

    .footer-wrapper {
        flex-direction: column;
    }
    .main-left {
        font-size: 48px;
        text-align: center;

    }  

    .none {
        display: block;
    }

    .header-li-a {
        display: none;
    }
    .header-ul {
        display: flex;
        gap: 0px;
    }
}